Repository acm-uic/acm-uic.github.io, changes with the labels that .github/labeler.yml gives for each.
All labels: :memo: documentation, :pencil2: blog, :taco: app, :construction: actions

Update join.mdx
  src/pages/join.mdx
Labels: :taco: app

Updating SIGSysAdmin presentations and info
  SIGs/Active/sigsysadmin.mdx
Labels: :memo: documentation

Adding new Spring 2025 SIG stubs. Updating some content for Systems and Game.
  SIGs/Active/siggame.mdx
  SIGs/Active/sigindiedev.md
  SIGs/Active/sigsystems.md
  SIGs/Active/sigvr.md
Labels: :memo: documentation

SIG Page Updates (#1114)
  SIGs/Active/siggame.mdx
  SIGs/Active/sigindiedev.md
  SIGs/Active/sigsysadmin.mdx
  SIGs/Active/sigsystems.md
  SIGs/Active/sigvr.md
Labels: :memo: documentation

Adding the rest of the presentations for the semester
  SIGs/Active/sigsysadmin.mdx
Labels: :memo: documentation

Adding Max
  SIGs/Active/sigsysadmin.mdx
Labels: :memo: documentation

Fixing lint issue
  SIGs/Active/sigsysadmin.mdx
Labels: :memo: documentation

✍️ SIGSysAdmin Page Update (#1134)
  SIGs/Active/sigsysadmin.mdx
Labels: :memo: documentation

rename overview to about
  docs/Infrastructure/Servers/About.md
Labels: :memo: documentation

updated server documentation
  docs/Infrastructure/Overview.md
  docs/Infrastructure/Servers/Avocado.md
  docs/Infrastructure/Servers/Bharat.md
  docs/Infrastructure/Servers/Lee.md
  docs/Infrastructure/Servers/Miku.md
Labels: :memo: documentation

bump docusaurus-theme-search-typesense to 0.25.0
  package.json
  pnpm-lock.yaml
  pnpm-workspace.yaml
Labels: :taco: app

Updating officers and SIG lists
  SIGs/Active/sigai.md
  SIGs/Active/sigalgotrading.md
  SIGs/Active/sigcybersecurity.md
  SIGs/Active/siggame.mdx
  SIGs/Active/sigindiedev.md
  SIGs/Active/sigjobs.md
  SIGs/Active/sigmath.md
  SIGs/Active/sigmobiledev.md
  SIGs/Active/sigsysadmin.mdx
  SIGs/Active/sigsystems.md
  SIGs/Active/sigvr.md
  SIGs/Active/sigwebdev.mdx
  SIGs/Inactive/sighacks.md
  src/pages/officers.md
Labels: :memo: documentation, :taco: app

Revert ":arrow_up: Bump actions/labeler from 4 to 6 (#1192)"
  .github/workflows/labeler.yml
Labels: :construction: actions

Revert ":arrow_up: Bump actions/labeler from 4 to 6" (#1196)
  .github/workflows/labeler.yml
Labels: :construction: actions

.github/labeler.yml:

":memo: documentation":
- changed-files:
  - any-glob-to-any-file:
    - docs/**/*
    - SIGs/**/*
":pencil2: blog":
- changed-files:
  - any-glob-to-any-file:
    - blog/**/*
":taco: app":
- changed-files:
  - any-glob-to-any-file:
    - src/**/*
    - static/**/*
    - ./*.js
    - ./*.json
":construction: actions":
- changed-files:
  - any-glob-to-any-file:
    - .github/workflows/**/*
