Repository acm-uic/acm-uic.github.io, changes with the labels that .github/labeler.yml gives for each.
All labels: :memo: documentation, :pencil2: blog, :taco: app, :construction: actions

.github/labeler.yml:

":memo: documentation":
- changed-files:
  - any-glob-to-any-file:
    - docs/**/*
    - SIGs/**/*
":pencil2: blog":
- changed-files:
  - any-glob-to-any-file:
    - blog/**/*
":taco: app":
- changed-files:
  - any-glob-to-any-file:
    - src/**/*
    - static/**/*
    - ./*.js
    - ./*.json
":construction: actions":
- changed-files:
  - any-glob-to-any-file:
    - .github/workflows/**/*

Revert ":arrow_up: Bump actions/labeler from 4 to 5 (#862)"
  .github/workflows/labeler.yml
Labels: :construction: actions

Revert ":arrow_up: Bump actions/labeler from 4 to 5" (#870)
  .github/workflows/labeler.yml
Labels: :construction: actions

linter fixes
  src/pages/contact.mdx
  src/pages/join.mdx
Labels: :taco: app

Adding and updating all active SIGs. Moving SIG Quant to Inactive. Updated slide content for SIGSysAdmin. Added starter pages for new SIGs.
  SIGs/Active/sigai.md
  SIGs/Active/siggame.mdx
  SIGs/Active/sigiosdev.md
  SIGs/Active/sigjobs.md
  SIGs/Active/sigmath.md
  SIGs/Active/sigsysadmin.mdx
  SIGs/Active/sigwebdev.mdx
  SIGs/Inactive/sigquantitativetrading.md
Labels: :memo: documentation

Adding description metadata for the SEO of the SIG pages.
  SIGs/Active/sigai.md
  SIGs/Active/siggame.mdx
  SIGs/Active/sigiosdev.md
  SIGs/Active/sigjobs.md
  SIGs/Active/sigmath.md
  SIGs/Active/sigsysadmin.mdx
  SIGs/Active/sigwebdev.mdx
Labels: :memo: documentation

Escaping characters
  SIGs/Active/sigsysadmin.mdx
Labels: :memo: documentation

Removing extra comment in markdownx
  SIGs/Active/sigai.md
  SIGs/Active/siggame.mdx
  SIGs/Active/sigiosdev.md
  SIGs/Active/sigjobs.md
  SIGs/Active/sigmath.md
  SIGs/Active/sigsysadmin.mdx
  SIGs/Active/sigwebdev.mdx
Labels: :memo: documentation

Removing more comments for markdownx
  SIGs/Active/sigsysadmin.mdx
Labels: :memo: documentation

Renaming old SIG-AI path slug to remove conflict with new SIG
  SIGs/Inactive/sigai.md
Labels: :memo: documentation

Running Prettier
  SIGs/Active/sigai.md
  SIGs/Active/sigjobs.md
  SIGs/Active/sigmath.md
  SIGs/Active/sigsysadmin.mdx
  SIGs/Active/sigwebdev.mdx
Labels: :memo: documentation

Fixing styling
  SIGs/Active/sigmath.md
Labels: :memo: documentation

🌟 Updating all active SIGs for Spring 2024 (#895)
  SIGs/Active/sigai.md
  SIGs/Active/siggame.mdx
  SIGs/Active/sigiosdev.md
  SIGs/Active/sigjobs.md
  SIGs/Active/sigmath.md
  SIGs/Active/sigsysadmin.mdx
  SIGs/Active/sigwebdev.mdx
  SIGs/Inactive/sigai.md
  SIGs/Inactive/sigquantitativetrading.md
Labels: :memo: documentation

Update dependabot.yml
  .github/dependabot.yml
Labels: none

remove submodule
  .devcontainer/devcontainer.json
  .github/CONTRIBUTING.md
  .github/workflows/ci.yml
  .github/workflows/codeql-analysis.yml
  .gitmodules
  static/media/Discord-Logo-Color.svg
  static/media/acm_logos/acm-rasterized.png
  static/media/acm_logos/acm2-favicon.png
  static/media/acm_logos/acm2-fullvector-outlined.svg
  static/media/acm_logos/acm2-logo-transparent.png
  static/media/acm_logos/acm2.svg
  static/media/acm_logos/acm2010-logo_for_web-fullvector.svg
  static/media/acm_logos/acm2010-logo_mono_print-fullvector.svg
  static/media/acm_logos/acm2010-logo_mono_print-fullvector2.svg
  static/media/acm_logos/acm2010-logo_mono_print-fullvector3.svg
  static/media/acm_logos/acm2010-logo_mono_print-fullvector4.svg
  static/media/acm_logos/acm2010-logo_mono_print-fullvector5.svg
  static/media/acm_logos/acm2010-rasterized.png
  static/media/acm_logos/acmlogo2014.png
  static/media/acm_logos/logo2005.jpg
  static/media/acm_logos/newacm2logo.png
  static/media/acm_logos/uicatacm-square-20100412.svg
  static/media/acm_logos/website-logo-replacement-2017.png
  static/media/blog/acm-fall-2023-gbm-flyer.png
  static/media/calendar-event-location-gcal.png
  static/media/calendar-event-location-website.png
  static/media/flourish-lrg-logo.png
  static/media/lugweb/Server-side-Exercise-Week3.zip
  static/media/lugweb/Sig_Web_Meeting_2.pptx
  static/media/lugweb/meeting_4_Progress_Feb_14_2014.zip
  static/media/lugweb/meeting_5_Finished_Feb_21_2014.zip
  static/media/lugweb/meeting_6_Finished_Feb_28_2014.zip
  static/media/sighcl/SIG-HCI-FALL2015-project-revised_0.doc
  static/media/sighcl/hello-world.doc
  static/media/sighcl/miles-kilometers.pdf
  static/media/sigmicro/arduino-uno.jpg
  static/media/sigopen/SIG_Open_1_26.pptx
  static/media/sigopen/SIG_Open_GitHub.pptx
Labels: :taco: app, :construction: actions

🧹remove media submodule (#977)
  .devcontainer/devcontainer.json
  .github/CONTRIBUTING.md
  .github/workflows/ci.yml
  .github/workflows/codeql-analysis.yml
  .gitmodules
  static/media/Discord-Logo-Color.svg
  static/media/acm_logos/acm-rasterized.png
  static/media/acm_logos/acm2-favicon.png
  static/media/acm_logos/acm2-fullvector-outlined.svg
  static/media/acm_logos/acm2-logo-transparent.png
  static/media/acm_logos/acm2.svg
  static/media/acm_logos/acm2010-logo_for_web-fullvector.svg
  static/media/acm_logos/acm2010-logo_mono_print-fullvector.svg
  static/media/acm_logos/acm2010-logo_mono_print-fullvector2.svg
  static/media/acm_logos/acm2010-logo_mono_print-fullvector3.svg
  static/media/acm_logos/acm2010-logo_mono_print-fullvector4.svg
  static/media/acm_logos/acm2010-logo_mono_print-fullvector5.svg
  static/media/acm_logos/acm2010-rasterized.png
  static/media/acm_logos/acmlogo2014.png
  static/media/acm_logos/logo2005.jpg
  static/media/acm_logos/newacm2logo.png
  static/media/acm_logos/uicatacm-square-20100412.svg
  static/media/acm_logos/website-logo-replacement-2017.png
  static/media/blog/acm-fall-2023-gbm-flyer.png
  static/media/calendar-event-location-gcal.png
  static/media/calendar-event-location-website.png
  static/media/flourish-lrg-logo.png
  static/media/lugweb/Server-side-Exercise-Week3.zip
  static/media/lugweb/Sig_Web_Meeting_2.pptx
  static/media/lugweb/meeting_4_Progress_Feb_14_2014.zip
  static/media/lugweb/meeting_5_Finished_Feb_21_2014.zip
  static/media/lugweb/meeting_6_Finished_Feb_28_2014.zip
  static/media/sighcl/SIG-HCI-FALL2015-project-revised_0.doc
  static/media/sighcl/hello-world.doc
  static/media/sighcl/miles-kilometers.pdf
  static/media/sigmicro/arduino-uno.jpg
  static/media/sigopen/SIG_Open_1_26.pptx
  static/media/sigopen/SIG_Open_GitHub.pptx
Labels: :taco: app, :construction: actions

update council profiles
  src/components/HomepageProfiles/HomepageProfiles.tsx
  static/media/council_profiles/adrian_knight_400.jpg
  static/media/council_profiles/connor_hunter_400.jpg
  static/media/council_profiles/ethan_ky_400.jpg
  static/media/council_profiles/eva_pisabaj_400.jpg
  static/media/council_profiles/florianne_che_400.jpg
  static/media/council_profiles/khin_yuupar_myat_400.jpg
Labels: :taco: app

💖 update council profiles (#978)
  src/components/HomepageProfiles/HomepageProfiles.tsx
  static/media/council_profiles/adrian_knight_400.jpg
  static/media/council_profiles/connor_hunter_400.jpg
  static/media/council_profiles/ethan_ky_400.jpg
  static/media/council_profiles/eva_pisabaj_400.jpg
  static/media/council_profiles/florianne_che_400.jpg
  static/media/council_profiles/khin_yuupar_myat_400.jpg
Labels: :taco: app

update officers list
  src/components/HomepageProfiles/HomepageProfiles.tsx
  src/pages/officers.md
  static/media/council_profiles/soham_kaje_400.jpg
Labels: :taco: app

💖 update council profiles (#980)
  src/components/HomepageProfiles/HomepageProfiles.tsx
  src/pages/officers.md
  static/media/council_profiles/soham_kaje_400.jpg
Labels: :taco: app

bump docusaurus-theme-search-typesense to 0.22.0-1
  package.json
  yarn.lock
Labels: :taco: app

⬆️ bump docusaurus-theme-search-typesense to 0.22.0-1 (#1016)
  package.json
  yarn.lock
Labels: :taco: app

update council profiles
  src/components/HomepageProfiles/HomePageProfiles.module.css
  src/components/HomepageProfiles/HomepageProfiles.tsx
  src/pages/officers.md
  static/media/council_profiles/amy_kodama_400.jpg
  static/media/council_profiles/anirudh_kuppili_400.jpg
  static/media/council_profiles/isaac_alazar_400.jpg
  tsconfig.json
Labels: :taco: app

fixup
  src/components/HomepageProfiles/HomepageProfiles.tsx
Labels: :taco: app

✨ update council profiles (#1023)
  src/components/HomepageProfiles/HomePageProfiles.module.css
  src/components/HomepageProfiles/HomepageProfiles.tsx
  src/pages/officers.md
  static/media/council_profiles/amy_kodama_400.jpg
  static/media/council_profiles/anirudh_kuppili_400.jpg
  static/media/council_profiles/isaac_alazar_400.jpg
  tsconfig.json
Labels: :taco: app

Updating all SIG pages for Fall 2024.
  SIGs/Active/sigai.md
  SIGs/Active/sigalgotrading.md
  SIGs/Active/sigcybersecurity.md
  SIGs/Active/siggame.mdx
  SIGs/Active/sighacks.md
  SIGs/Active/sigiosdev.md
  SIGs/Active/sigjobs.md
  SIGs/Active/sigmath.md
  SIGs/Active/sigmobiledev.md
  SIGs/Active/sigsysadmin.mdx
  SIGs/Active/sigsystems.md
  SIGs/Active/sigwebdev.mdx
  SIGs/Inactive/sigiosdev.md
  static/media/sigcybersecurity/Intro_Meeting.png
  static/media/sighacks/sighacks-banner.png
  static/media/sigmobiledev/SIG Mobile Development Potential App Ideas (SEM 1).pdf
Labels: :memo: documentation, :taco: app

Fixing image references
  SIGs/Active/sigcybersecurity.md
  SIGs/Active/sighacks.md
Labels: :memo: documentation

Fixing grammar
  SIGs/Active/sigwebdev.mdx
Labels: :memo: documentation

Fixing image reference
  SIGs/Active/sigcybersecurity.md
Labels: :memo: documentation

Fixing url encoding
  SIGs/Active/sigmobiledev.md
Labels: :memo: documentation

Fixing linting
  SIGs/Active/sigwebdev.mdx
Labels: :memo: documentation

Fixing prettier
  SIGs/Active/sigai.md
  SIGs/Active/sigalgotrading.md
  SIGs/Active/sighacks.md
  SIGs/Active/sigmobiledev.md
  SIGs/Active/sigsystems.md
  SIGs/Active/sigwebdev.mdx
  SIGs/Inactive/sigiosdev.md
Labels: :memo: documentation

Fixing typo
  SIGs/Active/sigsystems.md
Labels: :memo: documentation

resolve my own suggestions
  SIGs/Active/siggame.mdx
  SIGs/Active/sigsysadmin.mdx
Labels: :memo: documentation

✨😮Updating all SIG pages for Fall 2024 (#1029)
  SIGs/Active/sigai.md
  SIGs/Active/sigalgotrading.md
  SIGs/Active/sigcybersecurity.md
  SIGs/Active/siggame.mdx
  SIGs/Active/sighacks.md
  SIGs/Active/sigiosdev.md
  SIGs/Active/sigjobs.md
  SIGs/Active/sigmath.md
  SIGs/Active/sigmobiledev.md
  SIGs/Active/sigsysadmin.mdx
  SIGs/Active/sigsystems.md
  SIGs/Active/sigwebdev.mdx
  SIGs/Inactive/sigiosdev.md
  static/media/sigcybersecurity/Intro_Meeting.png
  static/media/sighacks/sighacks-banner.png
  static/media/sigmobiledev/SIG Mobile Development Potential App Ideas (SEM 1).pdf
Labels: :memo: documentation, :taco: app

add myself as a sysadmin
  src/components/HomepageProfiles/HomepageProfiles.tsx
Labels: :taco: app

Fixing linting error
  src/components/HomepageProfiles/HomepageProfiles.tsx
Labels: :taco: app

add myself as a sysadmin (#1032)
  src/components/HomepageProfiles/HomepageProfiles.tsx
Labels: :taco: app

Update sighacks.md
  SIGs/Active/sighacks.md
Labels: :memo: documentation

bump deps
  .github/CODEOWNERS
  .github/CONTRIBUTING.md
  .github/workflows/ci.yml
  .vscode/settings.json
  appConfig.js
  blog/2021-05-02-new-blog.md
  blog/2021-08-22-welcome-back.mdx
  blog/2021-08-29-Involvement-Fair.md
  blog/2021-09-06-GBM-announcement.mdx
  blog/2023-01-23-GBM-announcement.md
  blog/2023-08-31-GBM-announcement.md
  docusaurus.config.js
  package.json
  pnpm-lock.yaml
  src/components/DiscordLink/DiscordLink.tsx
  src/components/DiscordRedirect/DiscordRedirect.tsx
  src/components/EventsAgenda/EventsAgenda.tsx
  src/components/GoogleCalendarEmbed/GoogleCalendarEmbed.tsx
  src/components/SlackSignUpLink/SlackSignUpLink.tsx
  src/components/YouTubeLink/YouTubeLink.tsx
  src/components/YouTubeRedirect/YouTubeRedirect.tsx
  src/sidebars/docsSidebar.js
  src/sidebars/sigsSidebar.js
  yarn.lock
Labels: :pencil2: blog, :taco: app, :construction: actions

⬆️ bump deps (#1099)
  .github/CODEOWNERS
  .github/CONTRIBUTING.md
  .github/workflows/ci.yml
  .vscode/settings.json
  appConfig.js
  blog/2021-05-02-new-blog.md
  blog/2021-08-22-welcome-back.mdx
  blog/2021-08-29-Involvement-Fair.md
  blog/2021-09-06-GBM-announcement.mdx
  blog/2023-01-23-GBM-announcement.md
  blog/2023-08-31-GBM-announcement.md
  docusaurus.config.js
  package.json
  pnpm-lock.yaml
  src/components/DiscordLink/DiscordLink.tsx
  src/components/DiscordRedirect/DiscordRedirect.tsx
  src/components/EventsAgenda/EventsAgenda.tsx
  src/components/GoogleCalendarEmbed/GoogleCalendarEmbed.tsx
  src/components/SlackSignUpLink/SlackSignUpLink.tsx
  src/components/YouTubeLink/YouTubeLink.tsx
  src/components/YouTubeRedirect/YouTubeRedirect.tsx
  src/sidebars/docsSidebar.js
  src/sidebars/sigsSidebar.js
  yarn.lock
Labels: :pencil2: blog, :taco: app, :construction: actions
