Repository acm-uic/acm-uic.github.io, pull requests merged in 2021-11, with the labels that each got.

#115 ⚡ Update workflows to use setup-node cache
  .github/workflows/ci.yml
Labels: :construction: actions

#116 🐛 fix bold text on /join page
  src/pages/join.mdx
Labels: :taco: app

#125 🚚 add officers page
  src/components/HomepageProfiles/HomepageProfiles.tsx
  src/pages/officers.md
Labels: :taco: app

#151 🌟 install dependencies after creating devcontainer
  .devcontainer/devcontainer.json
Labels: :sparkles: enhancement

#153 ⬆️ bump dev dependencies
  .stylelintrc.json
  package.json
  yarn.lock
Labels: :package: dependencies

#156 📝 Add secretaries and SIG Leaders
  src/pages/officers.md
Labels: :taco: app

#158 ✨ add join to nav dropdown, :bug: fix bold text
  docusaurus.config.js
  src/pages/contact.mdx
Labels: :taco: app

#159 Updating Google Drive link
  SIGs/Active/sigsysadmin.mdx
Labels: :memo: documentation, :bug: bug
