Repository acm-uic/acm-uic.github.io, pull requests merged in 2021-09, with the labels that each got.

#51 📝 Fixing indenting and combining css rules
  src/components/GoogleCalendarEmbed/GoogleCalendarEmbed.module.css
Labels: :taco: app, :bug: bug

#54 🧹 housekeeping
  .eslintignore
  .eslintrc.js
  .github/workflows/ci.yml
  .gitignore
  .markdownlint.json
  .prettierignore
  .prettierrc
  .stylelintignore
  .stylelintrc.json
  .vscode/extensions.json
  .vscode/settings.json
  SIGs/siggame.md
  SIGs/sigmath.md
  SIGs/sigquantitativetrading.md
  SIGs/sigsysadmin.md
  SIGs/sigwebdev.md
  babel.config.js
  blog/2021-08-22-welcome-back.md
  blog/2021-08-29-Involvement-Fair.md
  docs/Infrastructure/Servers/Bharat.md
  docs/Infrastructure/Servers/Overview.md
  docs/Knowledge Base/logos.md
  docs/introduction.md
  docusaurus.config.js
  package.json
  sidebars.js
  sigsidebar.js
  src/components/GoogleCalendarEmbed/GoogleCalendarEmbed.tsx
  src/components/GoogleCalendarEmbed/index.ts
  src/components/HomepageProfiles/HomepageProfiles.module.css
  src/components/HomepageProfiles/HomepageProfiles.tsx
  src/components/HomepageProfiles/index.ts
  src/css/custom.css
  src/pages/index.tsx
  src/pages/join.md
  src/sidebars/docsSidebar.js
  src/sidebars/sigsSidebar.js
  tsconfig.json
  yarn.lock
Labels: :construction: actions, :pencil2: blog, :taco: app, :memo: documentation

#55 ⚡ optimize image sizes and 🧹 cleanup css
  .vscode/settings.json
  blog/2021-05-02-new-blog.md
  blog/2021-08-22-welcome-back.md
  blog/2021-08-29-Involvement-Fair.md
  src/components/HomepageProfiles/HomepageProfiles.module.css
  src/components/HomepageProfiles/HomepageProfiles.tsx
  src/components/HomepageProfiles/index.ts
Labels: :pencil2: blog, :taco: app, :sparkles: enhancement

#59 🔍 add static pr previews
  .github/workflows/ci.yml
Labels: :construction: actions, :sparkles: enhancement

#56 ✨ add agenda component
  .vscode/extensions.json
  .vscode/settings.json
  package.json
  src/components/EventsAgenda/EventsAgenda.tsx
  src/components/EventsAgenda/index.ts
  src/components/GoogleCalendarEmbed/GoogleCalendarEmbed.tsx
  src/components/GoogleCalendarEmbed/index.ts
  src/config/index.ts
  src/pages/calendar.mdx
  src/pages/index.tsx
  src/util/getEvents.ts
  yarn.lock
Labels: :taco: app, :sparkles: enhancement

#61 ⚙ enable skip_deploy_on_missing_secrets
  .github/workflows/ci.yml
Labels: :construction: actions

#60 GBM Announcement
  blog/2021-06-09-GBM-announcement.md
Labels: :pencil2: blog

#63 Rename 2021-06-09-GBM-announcement.md to 2021-09-06-GBM-announcement.md
  blog/2021-09-06-GBM-announcement.md
Labels: :pencil2: blog

#65 🐛 Add staging environment cleanup job
  .github/workflows/ci.yml
Labels: :construction: actions, :bug: bug

#36 Feature/Update-SIGSysAdmin: Adding the Fall 2021 Notes section
  SIGs/sigsysadmin.md
Labels: :memo: documentation, :sparkles: enhancement

#66 🐛 Fix bug where staging env would deploy on PR closed event
  .github/workflows/ci.yml
Labels: :construction: actions, :bug: bug

#64 📜 Adding temporary ACM membership form via Google Forms
  src/pages/join.md
Labels: :taco: app

#68 ✨ add join button + 🐛 fix button overflow
  src/pages/index.module.css
  src/pages/index.tsx
Labels: :taco: app, :sparkles: enhancement

#69 ✨ add discord to top nav + update footer nav
  SIGs/overview.md
  docusaurus.config.js
  src/sidebars/sigsSidebar.js
Labels: :taco: app, :memo: documentation, :sparkles: enhancement

#70 ✨ add discord redirect
  appConfig.js
  docusaurus.config.js
  src/components/DiscordLink/DiscordLink.tsx
  src/components/DiscordLink/index.ts
  src/components/DiscordRedirect/DiscordRedirect.tsx
  src/components/DiscordRedirect/index.ts
  src/components/EventsAgenda/EventsAgenda.tsx
  src/components/GoogleCalendarEmbed/GoogleCalendarEmbed.tsx
  src/config/index.ts
  src/pages/discord.mdx
  src/pages/join.mdx
  tsconfig.json
Labels: :taco: app

#71 🩹 use discord server link from `appConfig` + 🏷 typecheck `.js` config files
  .eslintrc.js
  appConfig.js
  babel.config.js
  docusaurus.config.js
  src/components/DiscordLink/DiscordLink.tsx
  src/components/DiscordRedirect/DiscordRedirect.tsx
  src/components/EventsAgenda/EventsAgenda.tsx
  src/components/GoogleCalendarEmbed/GoogleCalendarEmbed.tsx
Labels: :taco: app

#72 📝 Add Contact page
  .vscode/settings.json
  appConfig.js
  docusaurus.config.js
  src/components/SlackSignUpLink/SlackSignUpLink.tsx
  src/components/SlackSignUpLink/index.ts
  src/pages/contact.mdx
  src/pages/join.mdx
Labels: :taco: app, :sparkles: enhancement

#74 🔍 Polish and cleanup
  .vscode/settings.json
  SIGs/overview.md
  SIGs/siggame.md
  SIGs/sigmath.md
  SIGs/sigquantitativetrading.md
  SIGs/sigsysadmin.md
  SIGs/sigwebdev.md
  appConfig.js
  blog/2021-05-02-new-blog.md
  blog/2021-08-22-welcome-back.md
  blog/2021-08-29-Involvement-Fair.md
  blog/2021-09-06-GBM-announcement.md
  blog/authors.yml
  docs/Infrastructure/Overview.md
  docs/Infrastructure/Servers/Bharat.md
  docs/Infrastructure/Servers/Chase.md
  docs/Infrastructure/Servers/Overview.md
  docs/Infrastructure/Switches.md
  docs/Knowledge Base/Overview.md
  docs/Knowledge Base/logos.md
  docs/introduction.md
  docusaurus.config.js
  src/components/DiscordLink/DiscordLink.tsx
  src/components/DiscordRedirect/DiscordRedirect.tsx
Labels: :pencil2: blog, :taco: app, :memo: documentation, :sparkles: enhancement

#75 🐛 fix slugs of sigs/* pages
  SIGs/overview.md
  SIGs/siggame.md
  SIGs/sigmath.md
  SIGs/sigquantitativetrading.md
  SIGs/sigsysadmin.md
  SIGs/sigwebdev.md
Labels: :memo: documentation, :bug: bug
