Repository acm-uic/acm-uic.github.io, pull requests merged in 2021-06, with the labels that each got.

#9 ✏️ update officer info
  src/components/HomepageProfiles/HomepageProfiles.tsx
Labels: :taco: app

#10 🔆 Enable color scheme media query
  docusaurus.config.js
Labels: :sparkles: enhancement

#12 📝 main rack layout
  docs/Infrastructure/Overview.md
Labels: :memo: documentation
