Repository acm-uic/acm-uic.github.io, pull requests merged in 2021-10, with the labels that each got.

#90 🧙‍♂️Autogenerating the SIG sidebar
  SIGs/Active/_category_.yml
  SIGs/Active/siggame.md
  SIGs/Active/sigmath.md
  SIGs/Active/sigquantitativetrading.md
  SIGs/Active/sigsysadmin.md
  SIGs/Active/sigwebdev.md
  SIGs/Inactive/_category_.yml
  src/sidebars/sigsSidebar.js
Labels: :taco: app, :memo: documentation

#98 🌟 Make calendar button more prominent
  src/components/EventsAgenda/EventsAgenda.tsx
Labels: :taco: app, :sparkles: enhancement

#88 📝 Add links to other orgs in footer
  docusaurus.config.js
Labels: :sparkles: enhancement

#91 ⚙️ add devcontainer config to get submodules after creating instance
  .devcontainer/devcontainer.json
Labels: :sparkles: enhancement
