Repository acm-uic/acm-uic.github.io, pull requests merged in 2021-08, with the labels that each got.

#21 added an introduction
  docusaurus.config.js
  src/pages/about.md
Labels: :taco: app

#23 Updated the header on the homepage to be more descriptive
  src/components/HomepageProfiles/HomepageProfiles.tsx
Labels: :taco: app

#24 📝 Update about page
  src/pages/about.md
Labels: :taco: app

#25 Create sigsysadmin.md stub page
  docs/SIGs/sigsysadmin.md
Labels: :memo: documentation

#26 Create siggame.md
  docs/SIGs/siggame.md
Labels: :memo: documentation

#28 ✨ add gcal embed
  src/components/GoogleCalendarEmbed/GoogleCalendarEmbed.module.css
  src/components/GoogleCalendarEmbed/GoogleCalendarEmbed.tsx
  src/components/GoogleCalendarEmbed/index.ts
  src/pages/index.module.css
  src/pages/index.tsx
Labels: :taco: app

#31 ⌚ Update GoogleCalendarEmbed.tsx to use local timezone
  src/components/GoogleCalendarEmbed/GoogleCalendarEmbed.tsx
Labels: :taco: app

#32 🌟Adding base info for previous SIGs.
  docs/SIGs/siggame.md
  docs/SIGs/sigmath.md
  docs/SIGs/sigquantitativetrading.md
  docs/SIGs/sigsysadmin.md
  docs/SIGs/sigwebdev.md
Labels: :memo: documentation

#49 ✍️ Docs/new-semester-blog: Adding Christian's announcement from Discord
  blog/2021-08-22-welcome-back.md
Labels: :pencil2: blog

#50 Added Calendar Spacing, Added Blog Post
  blog/2021-08-29-Involvement-Fair.md
  src/components/GoogleCalendarEmbed/GoogleCalendarEmbed.module.css
Labels: :pencil2: blog, :taco: app
