Repository acm-uic/acm-uic.github.io, pull requests merged in 2022-11, with the labels that each got.

#494 ✨ stop shimmering animation when events fail to load
  src/components/EventsAgenda/EventsAgenda.tsx
  src/components/Shimmer/ShimmerLine.module.css
  src/components/Shimmer/ShimmerLine.tsx
Labels: :taco: app, :sparkles: enhancement

#495 🐛 fix issue where 9 events were hard coded into api request
  src/components/EventsAgenda/EventsAgenda.tsx
  src/pages/index.tsx
  src/util/getEvents.ts
Labels: :taco: app, :bug: bug

#503 🐛 show 9 events on homepage
  src/pages/index.tsx
Labels: :taco: app, :bug: bug

#504 ⬆️bump docusaurus to 2.2.0
  package.json
  yarn.lock
Labels: :package: dependencies
