Repository acm-uic/acm-uic.github.io, pull requests merged in 2023-01, with the labels that each got.

#546 Update description for mislabeled server
  docs/Infrastructure/Overview.md
Labels: :memo: documentation

#557 ✨ filter private events
  src/components/EventsAgenda/EventsAgenda.tsx
Labels: :taco: app, :sparkles: enhancement

#558 ⬆️ update officers
  src/components/HomepageProfiles/HomepageProfiles.tsx
  src/pages/officers.md
Labels: :taco: app

#564 📢 GBM Announcement for Spring 2023
  blog/2023-01-23-GBM-announcement.md
  blog/authors.yml
Labels: :pencil2: blog

#571 ⬆️ Bump @docusaurus/* from 2.2.0 to 2.3.0
  package.json
  yarn.lock
Labels: :package: dependencies
