Repository acm-uic/acm-uic.github.io, pull requests merged in 2023-06, with the labels that each got.

#629 🏗️ fixups for terraform typesense deploy
  .github/labeler.yml
  .github/workflows/ci-terraform.yml
  .github/workflows/ci-website.yml
  .github/workflows/ci.yml
  .github/workflows/typesense-scraper.yml
  tf/main.tf
  tf/typesense.tf
  tf/variables.tf
Labels: :construction: actions, :pushpin: pinned, :building_construction: terraform

#695 ⬆️ bump terraform to 1.4.6
  tf/main.tf
Labels: :package: dependencies, :building_construction: terraform

#696 🐛 only run tf plan on PRs
  .github/workflows/ci.yml
Labels: :construction: actions

#698 🐛 get typesense api key, host from job outputs
  .github/workflows/ci.yml
  tf/main.tf
  tf/typesense.tf
Labels: :construction: actions, :building_construction: terraform

#699 🐛 get typesense api key, host from job outputs
  .github/workflows/ci.yml
Labels: :construction: actions

#700 🐛 get typesense api key, host from job outputs fixup
  .github/workflows/ci.yml
  .github/workflows/terraform-drift.yml
  .github/workflows/typesense-scraper.yml
  tf/.terraform.lock.hcl
  tf/main.tf
  tf/outputs.tf
  tf/typesense.tf
Labels: :construction: actions, :building_construction: terraform

#701 🐛 get typesense api key, host from job outputs fixup
  .github/workflows/ci.yml
Labels: :construction: actions

#702 ⬆️ bump docusaurus to 2.4.1
  package.json
  yarn.lock
Labels: :package: dependencies

#703 🐛 run scraper job fixup
  .github/workflows/ci.yml
Labels: :construction: actions

#717 🩹 Fix HomepageProfiles images
  src/components/HomepageProfiles/HomepageProfiles.tsx
Labels: :taco: app, :bug: bug
